<mat-card>
    <mat-card-content>
        <div class="post-infos-container">
            <img class="profile-photo" src="/assets/1597232196865.jpeg" />
            <input class="input-for-post" type="text" placeholder="What's new {prenom}?" (click)="openDialog()" readonly />
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div>
            <mat-icon class="video-cam-icon">videocam</mat-icon>

            Direct vidéo
        </div>
        <div>
            <mat-icon class="material-icons-outlined collections-icon">collections</mat-icon>

            Photo/Vidéo
        </div>
        <div>
            <mat-icon class="material-icons-outlined emoji-icon">emoji_emotions</mat-icon>
            Mood/Activity
        </div>
    </mat-card-actions>
</mat-card>

