
<!-- <div class="news-feed-container">
    <div class="stories-container">
        <div class="storie-item">
            <div>Storie 1</div>
        </div>
        <div class="storie-item">
            <div>Storie 2</div>
        </div>
        <div class="storie-item">
            <div>Storie 3</div>
        </div>
        <div class="storie-item">
            <div>Storie 4</div>
        </div>
    </div>
</div> -->


<div class="post-compoment-container">
    <mat-card>
        <mat-card-content>
            <div class="post-infos-container">
                <img class="profile-photo" src="/assets/1597232196865.jpeg" />
                <input class="input-for-post" type="text" placeholder="What's new {prenom}?" />
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div>
                <mat-icon>videocam</mat-icon>

                Direct vidéo
            </div>
            <div>
                <mat-icon class="material-icons-outlined">collections</mat-icon>

                Photo/Vidéo
            </div>
            <div>
                <mat-icon class="material-icons-outlined">emoji_emotions</mat-icon>
                Mood/Activity
            </div>
        </mat-card-actions>
    </mat-card>
</div>