.news-feed-container {
    padding-left: 32px;
    padding-right: 32px;
    height: 100%;
}



/* Stories container */
.stories-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.storie-item {
    height: 33%;
    width: 100%;
    margin: 4px;
    border: 1px solid black
}


.post-compoment-container{
    max-width: 70%;
    margin: auto;
}

.write-post-container{
    margin: 15px 0;
}

.read-post-container{
    margin: 15px 0;
}


