<!-- <div class="news-feed-container">
    <div class="stories-container">
        <div class="storie-item">
            <div>Storie 1</div>
        </div>
        <div class="storie-item">
            <div>Storie 2</div>
        </div>
        <div class="storie-item">
            <div>Storie 3</div>
        </div>
        <div class="storie-item">
            <div>Storie 4</div>
        </div>
    </div>
</div> -->


<div class="post-compoment-container">
    <div class="write-post-container">
        <app-write-news-feed-post></app-write-news-feed-post>
    </div>

    <div class="read-post-container">
        <app-news-feed-post></app-news-feed-post>
    </div>
</div>