.login-page-container {
    background-color: #f0f2f5;
    height: 100%;
}

.login-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 40px;
    align-items: center;
}

.login-form {
    width: 100%;
    
}

.form-group {
    margin-bottom: 15px;
}


.mat-card {
    margin: auto;
    width: 396px;
    border-radius: 8px;
}

.mat-card-content {
    height: 100%;
}

.mat-form-field {
    display: block;
}

.login-button {
    width: 100%;
    border-radius: 45;
    height: 48px;
    background-color: #1877f2;
}

.register-button {
    height: 48px;
    background-color: #42b72a;
    border-color: #42b72a;
}

.register-button:hover {
    background-color: #36a420;
}

.login-button:hover {
    background-color: #166fe5;
}

.register-button-container {
    margin: auto;
    width: fit-content;
}

.form-control {
    height: 52px;
}

.divider {
    padding: 30px;
}

.login-form-footer {
    padding: 0 20% 0 20%;
    text-align: center;
}


