.login-page-container{
    
    background-color: #f0f2f5;
    height: 100%;
}

.login-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 40px;
    align-items: center;
}

.login-form{
    width: 100%;
}

.form-group{

    margin-bottom: 15px;
    
}

.mat-card{
    margin: auto;
    width: 60%;
    height: 400px;
}

.mat-card-content {
    height: 100%;
}



.mat-form-field{
    display: block;
}

.login-button{
    width: 100%;
    border-radius: 45;
    height: 48px;
}

.register-button{
    height: 48px;
}

.form-control{
    height: 52px;
}

.divider{
    margin: 30px;
}