<div class="home-sidebar-container">
    <ul>
        <li>
            <div class="profile-photo-container">
                <img class="profile-photo" src="/assets/1597232196865.jpeg">
                <span>name</span>
            </div>
        </li>
        <li>
            <img class="sidebar-icon" src="/assets/home-sidebar/friends.png">
            <span>Friends</span>
        </li>
        <li>
            <img class="sidebar-icon" src="/assets/home-sidebar/groups.png">
            <span>Groups</span>
        </li>
        <li>
            <img class="sidebar-icon" src="/assets/home-sidebar/marketplace.png">
            <span>Marketplace</span>
        </li>
        <li>
            <img class="sidebar-icon" src="/assets/home-sidebar/watch.png">
            <span>Watch</span>
        </li>
        <li>
            <img class="sidebar-icon" src="/assets/home-sidebar/memories.png">
            <span>Memories</span>
        </li>
        <li>
            <img class="sidebar-icon" src="/assets/home-sidebar/records.png">
            <span>Records</span>
        </li>
        <li>
            <img class="sidebar-icon" src="/assets/home-sidebar/pages.png">
            <span>Pages</span>
        </li>
        <li>
            <img class="sidebar-icon" src="/assets/home-sidebar/events.png">
            <span>Events</span>
        </li>
        <li>
            <img class="sidebar-icon" src="/assets/home-sidebar/jobs.png">
            <span>Jobs</span>
        </li>


    </ul>
</div>