<nav class="navbar-">

    <div class="navbar-left-items">
        <div class="navbar-logo-container">
            <img src="../../../../assets/fb-head.jpg" />
        </div>

        <div class="search-bar">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search Facebok">
        </div>


    </div>

    <div class="navbar-centered-items">
        <div class="active">
            <mat-icon>home</mat-icon>
        </div>

        <div>
            <mat-icon>group</mat-icon>
        </div>

        <div>
            <mat-icon>store</mat-icon>
        </div>

        <div>
            <mat-icon>groups</mat-icon>
        </div>

    </div>

    <div class="navbar-right-items">
        <div class="profile-photo-container">
            <img class="profile-photo" src="../../../../assets/1597232196865.jpeg">
            <p>name</p>
        </div>

        <div>
            <mat-icon>question_answer</mat-icon>
        </div>

        <div>
            <mat-icon>notifications</mat-icon>
        </div>

        <div>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </div>

</nav>