<mat-card>
    <mat-card-title>
        <img class="profile-photo" src="assets/no-img.jpg" />
        <div class="profile-name-and-extra">
            <div class="profile-name">Nom propriétaire</div>
            <div class="extra-info">Complément infos</div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div class="text-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, illum eveniet provident optio consequatur
            ad autem voluptatum. Provident eaque reiciendis, dolore sunt itaque obcaecati reprehenderit veritatis
            similique, aspernatur architecto praesentium.
        </div>
        <div class="image-content">
            <img class="content-img" src="assets/no-img.jpg" />
        </div>

        <mat-divider ></mat-divider>

        <div class="like-and-love-icon">
            <img class="like-icon" src="assets/posts/like.svg"/>
            <img class="love-icon" src="assets/posts/love.svg"/>
        </div>
       
    </mat-card-content>
    <mat-card-actions>
        <mat-divider ></mat-divider>
        <div class="actions-container">
            <div>
                <mat-icon class="material-icons-outlined">thumb_up</mat-icon>
                <div>J'aime</div>
            </div>
            <div>
                <mat-icon>chat_bubble_outline</mat-icon>
                <div>Commenter</div>
            </div>
            <div>
                <mat-icon>share</mat-icon>
                <div>Partager</div>
            </div>
        </div>
        
    </mat-card-actions>
</mat-card>