<div class="rightbar-container">
    <div class="sponsor-container">
        <h2>Sponsored</h2>
        <div class="sponsor-info">
            <img class="sponsor-image" src="/assets/home-rightbar/sponsor.jpeg" />
            <span class="sponsor-text">
                <div>Titre sponsorisé 1</div>
                <small>lien du sponsor</small>
            </span>
        </div>
        <div class="sponsor-info">
            <img class="sponsor-image" src="/assets/home-rightbar/sponsor.jpeg" />
            <span class="sponsor-text">
                <div>Titre sponsorisé 2</div>
                <small>lien du sponsor</small>
            </span>
    
        </div>
    </div>
    
    <mat-divider></mat-divider>
    
    <div class="contact-container">
        <h2>Contacts</h2>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div>Robert Jeremy</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div>Payet Christine</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Legros Jeremy</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
        <div>
            <img class="profile-photo" src="/assets/home-rightbar/friend-profile.png" />
            <div> Neme Richard</div>
        </div>
    </div>
</div>
